[submodule "dtkcore"]
	path = dtkcore
	url = ../dtkcore
[submodule "dtkwidget"]
	path = dtkwidget
	url = ../dtkwidget
[submodule "dtkgui"]
	path = dtkgui
	url = https://github.com/linuxdeepin/dtkgui.git
[submodule "qt5integration"]
	path = qt5integration
	url = https://github.com/linuxdeepin/qt5integration.git
