[submodule "dtkcore"]
	path = dtkcore
	url = http://gerrit.uniontech.com/dtkcore
[submodule "dtkwidget"]
	path = dtkwidget
	url = http://gerrit.uniontech.com/dtkwidget
[submodule "dtkgui"]
	path = dtkgui
	url = http://gerrit.uniontech.com/dtkgui
[submodule "qt5integration"]
	path = qt5integration
	url = http://gerrit.uniontech.com/qt5integration.git
